{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                   usuario: {{ usuario  }}
                    <h2 class="splash-subhead" style="color:#1E90FF">
                        cv-working  (sistema de apoio)
                    </h2>
                    <h2 class="splash-subhead">
                    Isto é apenas uma ferramenta de apoio que ainda está em fase de desenvolvimento. Nos envie suas sugestões.
                    </h2>
                    <p>
                        Orientação para conseguir gera o arquivo Excel 

                    </p>
                    <p>
                    <textarea rows="15" cols="100">

                    1. Executar a opção 1.1 Atualizar Dados: nesta opção o sistema ler o dados
                    do arquivo Zip e atualiza o banco de dados com informações dos fun-
                    cionários, tipo nome do funcionário, data de admissao, departamento,
                    cargo, etc.

                    2. Executar a opçao 1.2 Importar Folha de Pagamento: nesta opção o 
                    sistema vai ler o arquivo Zip e gravar no banco de dados os valores
                    da folha propriamento dito.

                    3. Executar a opção 1.3 Imprimir Folha em Excel: nesta opçao o sistema 
                    irá apenas imprimir em Excel a folha que já foi importada com a execução 
                    das opçoes acima.  
                          </textarea>
                </p>



                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"></h4>
                    <h3>Envie suas sugestões</h3>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

